# Ignore GBA files for copyrights reasons
*.gba
# Ignore saves files because, i mean.
*.sav
*.bak
*.gba
*.gba
*.gba
Game/rh-atlus.gba
Other (Unneeded) Files/crystaltile2/CrystalTile2.ini
Other (Unneeded) Files/crystaltile2/CrystalTile2.ini
